[Unit]
Description=Set motherboard LEDs

[Service]
Type=simple
ExecStart=/bin/sh -c "/home/undeadleech/bin/rgbfusion --zone IO --effect Static --color 0xff0000;\
	/home/undeadleech/bin/rgbfusion --zone LED1 --effect Static --color 0xffffff"

[Install]
WantedBy=multi-user.target
