! Rofi ---------------------------------------------------------
rofi.modi: run
rofi.location: 0
rofi.lines: 20
rofi.bw: 0
rofi.font: Fira Sans 18
rofi.padding: 300
rofi.seperator-style: none
rofi.opacity: 95
rofi.hide-scrollbar: true
rofi.fullscreen: true

!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #121212, #616161, #121212, #212121, #702020
rofi.color-urgent: #121212, #616161, #121212, #212121, #702020
rofi.color-active: #121212, #616161, #121212, #212121, #702020
rofi.color-window: #121212, #616161
!---------------------------------------------------------------

! Colors -------------------------------------------------------
*background: #121212
*foreground: #9e9e9e

! Shades
*color0: #121212
*color8: #262626
*color7: #616161
*color15: #9e9e9e

! Red
*color1: #ac4142
*color9: #702020

! Green
*color2: #90a959
*color10: #1b5e20

! Yellow
*color3: #f4bf75
*color11: #f9a825

! Blue
*color4: #6a9fb5
*color12: #0d47a1

! Purple
*color5: #aa759f
*color13: #4a148c

! Cyan
*color6: #75b5aa
*color14: #006064
