! Rofi ---------------------------------------------------------
rofi.modi: run
rofi.location: 0
rofi.lines: 20
rofi.bw: 0
rofi.font: Source Code Pro Semibold 16
rofi.padding: 300
rofi.seperator-style: none
rofi.opacity: 95
rofi.hide-scrollbar: true
rofi.fullscreen: true

!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #121212, #616161, #121212, #212121, #801414
rofi.color-urgent: #121212, #616161, #121212, #212121, #801414
rofi.color-active: #121212, #616161, #121212, #212121, #801414
rofi.color-window: #121212, #616161
!---------------------------------------------------------------

! Colors -------------------------------------------------------
*background: #121212
*foreground: #9e9e9e

! Shades
*color0: #121212
*color8: #212121
*color7: #616161
*color15: #9e9e9e

! Red
*color1: #801414
*color9: #d32f2f

! Green
*color2: #1b5e20
*color10: #4caf50

! Yellow
*color3: #f9a825
*color11: #ffeb3b

! Blue
*color4: #1a237e
*color12: #3f51b5

! Purple
*color5: #6a1b9a
*color13: #aa00ff

! Cyan
*color6: #006064
*color14: #00bcd4
