! Rofi ---------------------------------------------------------
rofi.modi: run
rofi.location: 0
rofi.lines: 20
rofi.bw: 0
rofi.font: Fira Sans 18
rofi.padding: 345
rofi.separator-style: none
rofi.opacity: 95
rofi.hide-scrollbar: true
rofi.fullscreen: true

!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #1b1b1b, #616161, #1b1b1b, #262626, #752a2a
rofi.color-urgent: #1b1b1b, #616161, #1b1b1b, #262626, #752a2a
rofi.color-active: #1b1b1b, #616161, #1b1b1b, #262626, #752a2a
rofi.color-window: #1b1b1b, #616161
!---------------------------------------------------------------

! Colors -------------------------------------------------------
*background: #1b1b1b
*foreground: #9e9e9e

! Shades
*color0: #1b1b1b
*color8: #262626
*color7: #616161
*color15: #9e9e9e

! Red
*color1: #ac4142
*color9: #752a2a

! Green
*color2: #90a959
*color10: #5d742a

! Yellow
*color3: #f4bf75
*color11: #754e2a

! Blue
*color4: #6a9fb5
*color12: #2a5e74

! Purple
*color5: #aa759f
*color13: #703664

! Cyan
*color6: #75b5aa
*color14: #297366
